helo
 <% @products.each do |e| %>
	<p>
		商品名<%= e.name %>
		価格<%= e.price %>円
		<%= form_tag cart_items_path(product_id: e.id) do %>
			数量: <%= text_field_tag :qty, 1, size: 2,style: 'text-align:right' %>
			<%= submit_tag "カートに入れる" %>
    <% end %>
	</p>
	<hr>
<% end %>	

	<p>
	<%= link_to "カートを見る", cart_path(current_cart.id) %>
	</p>
	
<p>
	<%= link_to '商品登録', new_product_path %>
</p>

<p>
	<%= link_to '商品一覧', products_path %>
</p>

