<% @cart_items.each do |e|%>
<% p = Product.find(e.product_id) %> 
<p>
		商品名<%= p.name %>
		価格<%= p.price %>
		数量<%= e.qty %>
		
			<%= link_to '削除', cart_item_path(e), method: :delete %>
</p>
 <%= ((p.price) * e.qty) %> 円
<% end %>

<p>

</p>

<p>
	<%= link_to '商品の一覧表示', root_path %>
</p>