<table border="1">

	<tr>
		<th>product_id</th>
		<th>商品名</th>
		<th>価格</th>
		<th>操作</th>
	</tr>

<% @products.each do |e| %>
	<tr>
		<td><%= e.id %></td>
		<td><%= e.name %></td>
		<td><%= e.price %></td>
		<td>
			<%= link_to '削除', product_path(e), method: :delete, data: { confirm: '削除していいですか？' } %>
		</td>
	</tr>

<% end %>

</table>

<p>
	<%= link_to '商品登録', new_product_path %>
</p>
<p>
	<%= link_to 'トップへ', root_path %>
</p>
