<% if @product.errors.present? %>
<h3>エラーがあります</h3>
<ul>
	<% @product.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
	<% end %>
</ul>
<% end %>

<%= form_for @product do |f| %>

<table>
	<tr>
		<td><%= f.label :name, '商品名' %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td><%= f.label :price, '価格' %></td>
		<td><%= f.number_field :price %></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.submit '登録' %></td>
	</tr>
</table>

<% end %>
